<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>CePa - Result</title>
<style type="text/css">
    body {
        font-family: arial;
        font-size:12px;
        line-height:150%;
    }
    td, th {
        padding:8px 8px;
        text-align:right;
    }
    th {
        background-color: #CCC;
    }
    tr:hover {
        background-color:#EEEEEE;
    }
    a {
        text-decoration:none;
        color: blue;
    }

    .significant-pathway {
        background-color: rgb(251, 180, 174);
    }
    .significant-pathway a {
        color: black;
    }
	.significant-pathway a strong {
        color: blue;
    }
    .legend {
        font-weight: bold;
        padding:10px 0px;
    }
    .graph {
        text-align:left;
        border:1px #999 solid;
        margin: 10px 0px;
        padding: 10px;
    }
    .clear {
        clear:both;
    }

</style>
<script type="text/javascript" src="js/json2.min.js"></script>
<script type="text/javascript" src="js/AC_OETags.min.js"></script>
<script type="text/javascript" src="js/cytoscapeweb.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
    <div id="container">
        <h1 id="title">Analysis results by CePa</h1>
        <div class="description">
			<h2>Procedure: @{procedure}</h2>
            <h2>Method to adjust raw p-values: @{adj.method}</h2>
            <h2>Cutoff: @{cutoff}</h2>
        </div>
        <div class="graph">
            <p><img src="@{f1.path}" /></p>
            <p class="legend">Fig 1. Heatmap of @{ifelse(adj.method == "none", "p-values", "FDRs")} of all pathways.</p>
        </div>
        <div class="graph">
            <p><img src="@{f2.path}" /></p>
            <p class="legend">Fig 2. Heatmap of @{ifelse(adj.method == "none", "p-values", "FDRs")} of significant pathways.</p>
        </div>
        <div class="table">
            <p class="legend">Table 1. Complete list of @{ifelse(adj.method == "none", "p-values", "FDRs")} of all pathways under all centrality measurements.</p>
            <p><a href="@{sig.path}">Table of significance in txt format</a></p>
            <table id="class-legend">
                <tr><td class="significant-pathway">Significant pathways</td></tr>
                <tr><td class="significant">Significant @{ifelse(adj.method == "none", "p-values", "FDRs")}</td></tr>
            </table>
            <table>
                <tbody>
                    <tr>
                        <th>@{table.head(x)}</th>
                    </tr>
                    @{table.content(x, adj.method = adj.method, cutoff = cutoff, only.sig = only.sig)}
                </tbody>
            </table>
        </div>
        <div id="footer">
            <p>Generated by <a href="http://cran.r-project.org/web/packages/CePa/">CePa @{installed.packages()["CePa", "Version"]}</a>, @{date()}</p>
        </div>
    </div>
</body>
</html>
